.idea/
.venv/
venv/
.DS_Store
.anaconda/
.bash_profile
.cache/
.conda/
config/
continuum/
docker/
gitconfig
ipython/
jupyter/
lesshst
local/
matplotlib/
npm/
python_history
rest-client/
spyder-py3/
ssh/
vscode/
yandex/
zsh_history
zsh_sessions/
